<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SelfContainedIssueRepro.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <!-- Additional logging
		<environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="WEBCONNECTION_DETAILEDERRORS" value="1" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="1" />
        </environmentVariables>
        <handlerSettings>
          <handlerSetting name="debugFile" value="C:\Temp\aspnetcore-debug2.log" />
          <handlerSetting name="debugLevel" value="FILE,TRACE" />
        </handlerSettings>
		-->
      </aspNetCore>
    </system.webServer>
  </location>

</configuration>